* {
  text-shadow: transparent 0px 0px 0px, rgb(0 0 0 / 70%) 0px 0px 0px !important;
}

body, ul, ol{
  padding: 0;
  margin: 0;
}

html, body, #app {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.ant-layout-header{
  padding: 0 27px;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.ant-layout-footer {
  padding: 0;
}
.data-title {
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.previewContainer {
  word-break: break-word;
  line-height: 1.75;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 16px 4%;
}
.previewContainer code {
  word-break: break-word;
  border-radius: 2px;
  overflow-x: auto;
  background-color: #fff5f5;
  color: #ff502c;
  font-size: .87em;
  padding: 0.065em 0.4em;
}
.previewContainer blockquote {
  color: #666;
  padding: 10px 23px;
  margin: 22px 0;
  border-left: 4px solid #cbcbcb;
  background-color: #f8f8f8;
}
.previewContainer ul, li {
  margin-left: 16px;
}

.previewContainer .data-code-block {
  font-size: 12px;
  padding: 15px 12px;
  margin: 0;
  word-break: normal;
  display: block;
  overflow-x: auto;
  color: #333;
  background: #f8f8f8;
} 